ServiceClientPrototype/Service References/HighScoreService/HighScoreService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://tfs.davidmcginnisonline.com:5135/AppServices/HighScoreService/HighScoreService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HighScoreService" />
  <xs:element name="AddHighScore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HighScoreService" minOccurs="0" name="hs" nillable="true" type="q1:HighScore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHighScoreResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHighScoresGlobally">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameTitle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHighScoresGloballyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HighScoreService" minOccurs="0" name="GetHighScoresGloballyResult" nillable="true" type="q2:ArrayOfHighScore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHighScoresForPlatform">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HighScoreService" minOccurs="0" name="p" type="q3:Platform" />
        <xs:element minOccurs="0" name="gameTitle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHighScoresForPlatformResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HighScoreService" minOccurs="0" name="GetHighScoresForPlatformResult" nillable="true" type="q4:ArrayOfHighScore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>